h1,h2,h3 {
    font-family: 'Crimson Text', serif;
    color:white;
}

p {
    color:white;
}
footer {
    background-color: #17345B;
}

section {
    background-color: rgb(49, 49, 49);
    padding:20px;
}


@media only screen and (min-width: 992px) {

}

@media only screen and (max-width: 992px) {
    
h2 {
    text-align: center;
    
}

p {
   
    text-align: center;
}
}