h1,h2,h3 {
    font-family: 'Crimson Text', serif;
    color:white;
}

h2 {
    text-align: center;
    
}

p {
    color:white;
    text-align: center;
}
footer {
    background-color: #17345B;
}

section {
    background-color: rgb(49, 49, 49);
    padding:20px;
}