h1 {
    color:white;
    text-align: center;
    padding-top: .3em;

}
p{
    color:white;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 1.2em;
    text-align: center;
}

div {
    background-color: #27408b;
}