
.logo-font{
    font-family: 'Crimson Text', serif;
    color:white;
}

.background-color{
    background-color: #17345B;
  
    /* box-shadow: 0 0 10px rgba(0,0,0,.15),0 3px 3px rgba(0,0,0,.15); */
}

nav > div > ul > li > a{
    color:white;
}

button > svg {
    color:white;
}

nav {
    border-bottom: 2px solid rgba(255, 255, 255, 0.808);
    z-index: 2000;
}


#navbar {
    overflow: hidden;
    
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom:10px;
    background-color:rgba(255, 255, 255, 0.9);
    z-index: 1000;
  }

@media only screen and (max-width: 992px) {
    .desktop-nav{
        display: none;
        background-color: rgba(255, 255, 255, 0.884);
      
    }
 
    .desktop-form{
        display: none;
    }
  
}
@media only screen and (min-width: 992px) {
    svg {
        display: none;
    }
    nav > div > ul {
        display: none;
    }
  
    ul {
        display:flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
         }
         .mobile-form{
             display:none;
         }
}