<!-- <nav class="navbar navbar-expand-lg " >
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    
      </form>
  
     <div class="menu-text">
       Menu
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
       </button>
      </div>
  
  
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Why HQA?</a>
                  <a class="dropdown-item" href="#">Mission & Values</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Leadership</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Admissions</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Academics</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Montessori</a>
                  <a class="dropdown-item" href="#">Elementary</a>
                  <a class="dropdown-item" href="#">Middle</a>
                  <a class="dropdown-item" href="#">High</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Clubs</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Islamic Studies</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Quran</a>
                  <a class="dropdown-item" href="#">Arabic</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Parents</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Supply List</a>
                  <a class="dropdown-item" href="#">Uniform Policy</a>
                  <a class="dropdown-item" href="#">Useful Links</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Give</a>
            </li>
           
          </ul>
   
    </div>
  </nav>  -->

  <nav class="navbar navbar-expand-lg  background-color">
    <a class="navbar-brand logo-font" href="#">Houston Quran Academy</a>
    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
   </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Explore <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Academics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" >
            Islamic Studies
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Parents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Give</a>
        </li>
      </ul>
      <div>
        <form class="form-inline mobile-form" >
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    
    </div>
    <form class="form-inline desktop-form" >
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>



<!-- Sub Nav-->
<div id="navbar"class="desktop-nav ">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Explore</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Academics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Islamic Studies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">Parents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Give</a>
    </li>
  </ul>
</div>
