 <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true">

  <ul class="uk-slideshow-items" uk-height-viewport="offset-top: true; offset-bottom: 30">
      <li>
          <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
              <img src="../../assets/images/celebration.jpeg" alt="" uk-cover>
          </div>
      </li>
      <li>
          <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">
              <img src="../../assets/images/montessori.jpeg" alt="" uk-cover>
          </div>
      </li>
      <li>
          <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
              <img src="../../assets/images/teachers.jpeg" alt="" uk-cover>
          </div>
      </li>
      <li>
        <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
            <img src="../../assets/images/volunteer.JPG" alt="" uk-cover>
        </div>
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>  