 <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true;">

  <ul class="uk-slideshow-items" uk-height-viewport="max-height: 300">
      <li>
          <div class="uk-position-cover uk-animation-kenburns uk-transform-origin-center">
              <img src="../../assets/images/celebration.jpeg" alt="" uk-cover>
              <div class="uk-position-center uk-position-medium" >

                <h1 style="color:white; text-shadow: 0 0 30px rgba(0,0,0,.7); font-size:3em; font-family:"> Explore HQA</h1>

            </div>
          </div>
      </li>
      <li>
          <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">
              <img src="../../assets/images/montessori.jpeg" alt="" uk-cover>
          </div>
      </li>
      <li>
          <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
              <img src="../../assets/images/teachers.jpeg" alt="" uk-cover>
          </div>
      </li>
      <li>
        <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
            <img src="../../assets/images/volunteer.JPG" alt="" uk-cover>
        </div>
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>  