section {
    background-color: #f9f6ef;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1 {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

p {
    text-align: center;
}

div.card {
    box-shadow: 0 0 10px rgba(0,0,0,.15), 0 3px 3px rgba(0,0,0,.15);
 
}

div.row {
    display: flex;
    justify-content: center;
}