<section>
  <div>
      <h1>HQA Today</h1>
      <p class="text-center"> The latest news from Houston Quran Academy</p>
  </div>

    <div style="display:flex; flex-direction:column; padding:20px;">
            <div class="card mb-3" >
                    <img class="card-img-top" src="../../assets/images/activist.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h2 class="card-title">Muslims in the Capitol</h2>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Read more</a>
                    </div>
                  </div>
                  <div class="card mb-3" >
                        
                        <div class="card-body">
                          <h2 class="card-title">Miracles of the Kabah</h2>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Read more</a>
                        </div>
                      </div>
    
                      <div class="card" >
                      
                            <div class="card-body">
                              <h2 class="card-title">Muslims in the Capitol</h2>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Read more</a>
                            </div>
                          </div>
           
       

</div>
</section>